@font-face {
  font-family: 'Rajdhani';
  src: url('../resources/fonts/rajdhani.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

html, body {
  background: #444444;
  color: #CCCCCC;
  margin : 0;
  padding : 0;
  font: 16px Rajdhani, sans serif, condensed;
  width : 100vw;
  height : 100vh;
  overflow: hidden;
  user-select: none;
}

span.bingoin-icon {
  display: inline-block;
  width : 1em;
  height : 1em;
  background-color: #22CC22;
  margin: 0 0.2em;
}